<html>
    <head>
        <title>SEND SMS</title>
    </head>
    <body>
        <center>
            <h1>SEND SMS</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="sendto" placeholder="Send To" size="45"><br><br>
                <textarea rows="20" cols="80" type="text" name="message" placeholder="Your MEssage"></textarea><br><br>
                <button type="submit">SEND</button>
            </form>
        </center>
    </body>
</html>